@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
meta[name='viewport']::before {
  content: 'phone'; }

/* fontface */
/* reset */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0; }

*::before,
*::after {
  box-sizing: inherit; }

*:active,
*:hover {
  outline: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

b, i, em, strong,
h1, h2, h3, h4, h5, h6,
th, td, pre, ins, del, address,
input, select, button, textarea {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: inherit; }

a, ins, del, button {
  color: inherit;
  text-decoration: none; }

ul, ol,
menu {
  list-style: none; }

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }

pre,
textarea {
  overflow: auto;
  max-width: 100%; }

img {
  display: inline-block;
  line-height: 0; }

svg:not(:root) {
  overflow: hidden; }

form {
  width: 100%; }

button {
  cursor: pointer;
  overflow: visible; }

textarea {
  resize: none; }

::moz-focus-inner {
  padding: 0;
  border: none; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  margin-top: -4px;
  background-color: #061123;
  -webkit-animation: bodyFadeIn .3s ease-out both;
          animation: bodyFadeIn .3s ease-out both; }
  body p {
    line-height: 1.45; }

@-webkit-keyframes bodyFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bodyFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 40%); }
  .page__header {
    margin-bottom: 32px; }
  .page__mainTitle, .page__title {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 8px;
    font-size: 2em;
    font-weight: 300;
    text-align: center; }
  .page__title {
    color: white;
    margin-bottom: 0px;
    font-size: 1.2em;
    opacity: .8; }
  .page__content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    -webkit-animation: contentSlideIn .3s ease-out both;
            animation: contentSlideIn .3s ease-out both; }

@-webkit-keyframes contentSlideIn {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes contentSlideIn {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
  .page__avatar {
    height: auto;
    width: 120px;
    border-radius: 120px;
    margin: 10px auto;
    display: block;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1); }
  .page h2 {
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 16px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center; }
  .page a {
    color: white; }
    .page a:hover {
      text-decoration: underline; }
  .page p {
    color: white;
    text-align: center;
    margin: 10px auto; }
    .page p + p {
      margin-top: 30px; }
  .page__textLight {
    color: #ededed; }
  .page__textCenter {
    text-align: center !important; }
  .page__icon {
    width: 40px;
    height: auto;
    display: inline-block; }
    .page__icon:hover img {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
    .page__icon + .page__icon {
      margin-left: 8px; }
    .page__icon img {
      width: 100%;
      height: auto;
      transition: 200ms -webkit-transform ease;
      transition: 200ms transform ease;
      transition: 200ms transform ease, 200ms -webkit-transform ease; }
  .page__footer {
    margin-bottom: -16px; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .row--xc {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.top-buffer {
  margin-top: 32px; }

#bg {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

@media only screen and (min-width: 46em){
  meta[name='viewport']::before{
    content: 'tablet'; }
  html, body{
    height: 100%; } }

@media only screen and (min-width: 64.0625em){
  meta[name='viewport']::before{
    content: 'desktop'; } }

@media only screen and (min-width: 100em){
  meta[name='viewport']::before{
    content: 'monitor'; } }

@media only screen and (max-width: 45.9375em){
  .page{
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .page__mainTitle, .page__title{
    margin-top: 16px;
    font-size: 1.6em; }
  .page__title{
    font-size: 1em; }
  .row{
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .col{
    width: 100%; } }
