.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 40%);

  @media (--phone) {
    align-items: flex-start;
  }
  
  &__header {
    margin-bottom: 32px;
  }

  &__mainTitle {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 8px;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    
    @media (--phone) {
      margin-top: 16px;
      font-size: 1.6em
    }
  }

  &__title {
    @extend .page__mainTitle;
    color: white;
    margin-bottom: 0px;
    font-size: 1.2em;
    opacity: .8;

    @media (--phone) {
      font-size: 1em;
    }
  }

  &__content {
    background-color: rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    max-width: 500px;
    animation: contentSlideIn .3s ease-out both;

    @keyframes contentSlideIn {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__avatar {
    height: auto;
    width: 120px;
    border-radius: 120px;
    margin: 10px auto;
    display: block;
    filter: brightness(1.1);
  }

  h2 {
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 16px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: white;
    text-align: center;
    margin: 10px auto;

    &+p {
      margin-top: 30px;
    }
  }

  &__textLight  {
    color: $lightGray;
  }

  &__textCenter {
    text-align: center !important;
  }

  &__icon {
    width: 40px;
    height: auto;
    display: inline-block;

    &:hover {
      img {
        transform: scale(0.9);
      }
    }

    &+& {
      margin-left: 8px;
    }

    img {
      width: 100%;
      height: auto;
      transition: 200ms transform ease;
    }
  }

  &__footer {
    margin-bottom: -16px;
  }

}
